@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
.navbar-inverse .container .navbar-brand{
    color: #fff;
    font-size: 40px;
    padding: 40px 15px;
    font-weight: 900;
}

.justify-content-end{
    margin: 25px 0;
}*/

.navbar-nav > li >a{
    font-family: 'Roboto', sans-serif;;
}

nav{
    margin-top: 40px;
    width: 100%;
}

.top-nav-collapse {
    background-color:  #ff5e1f !important;
    margin-top: 0;
  }
  
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  
  @media (max-width: 990px) {
    .navbar:not(.top-nav-collapse) {
        margin: 0;
        background: transparent !important;
    }
  }
  
