<div class="imgContacto">
</div>

<div class="bg-white p-4">
    <div class="container mt-5 mb-5">
        
        <div class="content">
        <div class="row">
            <div class="col-sm-6 pr-0 pl-0">
              <div class="card z-depth-0">
                <div class="card-body p-5">
                  <h4 class="card-title" style="font-weight: 500;">FORMULARIO</h4>
                  <form>
                    <div class="row">
                      <div class="col-md-6 mt-3">
                        <input type="text" class="form-control" placeholder="Nombres Completos" required>
                      </div>
                      <div class="col-md-6 mt-3">
                        <input type="text" class="form-control" placeholder="Correo Electrónico" required>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-3">
                          <input type="text" class="form-control" placeholder="Teléfono/Celular">
                        </div>
                        <div class="col-md-6 mt-3">
                          <input type="text" class="form-control" placeholder="Asunto" required>
                        </div>
                      </div>
                      <textarea class="form-control mt-3" placeholder="Mensaje" rows="5" required></textarea>

                      <button class="btn mt-3 m-0 waves-light rgba-white-slight" style="background-color:#ff5e1f; color: #fff;">Enviar</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pl-0 pr-0">
              <div class="card z-depth-0" style="background-color: #1e1e20;">
                <div class="card-body p-5">
                    
                </div>
              </div>
            </div>
          </div>
        </div>
        
    </div>
</div>

<div style="width: 100%;"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=es&amp;q=Plaza%20de%20armas%20Trujillo+(Kc%20consulting%20Business)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>